 
 html {
        background: #F7B733	;
        color: #FFFFFF;  
        font-family: 'Raleway', sans-serif;  
      }



 h1 {
        border-radius: 0.3rem;
        padding: 0.3rem 0.5rem;
        font-size: 4rem;
        line-height: 4rem;
        margin: 0;
     }     

 #topheading * {
         display: inline-block;
         vertical-align: top;
         margin-top: 3rem;
        font-family: 'Poiret One', cursive;
  }

  #name:hover, #backbutton:hover ,#menu span:hover{
        cursor: pointer; 
        cursor: hand;
  }

  #backbutton{
        float: left;
        padding-left: 2rem;
        padding-top: 0rem;
        opacity: 0.6;
        display: none;
  }  

  #backbutton:hover {
    opacity: 1;
  }

  #menu {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
  }
 
  #links {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        padding-bottom: 2rem;
      }

  #links img{
 	height: 4rem
  }


   /*  SECTIONS  */
    #developing{
    	display: none;
      color: #607476;
    }
    
    .section {
      clear: both;
      padding: 1em 2em;
      margin: 1em 2em;        
    }     

    /*  GROUPING  */
    .group:before,
    .group:after { content:""; display:table; }
    .group:after { clear:both;}
    .group { zoom:1; /* For IE 6/7 */ }

    /*  COLUMN SETUP  */
    .col {
      float:left;
      margin: 1% 0 1% 1.6%;
    }
    .col:first-child { margin-left: 0; }


     #developing h3 {
      text-align: center;
      border-bottom: 1px solid #607476;
      padding-bottom: 0.5rem;
    }

    /*  GRID OF THREE  */   
    .span3 { width: 32.26%; }

    .box{
      width: 22rem;
      padding: 1rem;
      overflow: hidden;
    }

    .box img {
      margin-right: 1rem;
      float: left;
      width: 5rem;
      vertical-align: center;
    }

    .box p{
      margin: 0.1rem;
    }

    .boxheading {
      font-size: 1em;
      font-weight: 900;
    }

    p {
      font-size: 0.9rem;
    }

    @media screen and (max-width: 1024px) and (min-width: 321px){
      .span3 { width: 100%;}
      .section {         
        padding: 0em 0em;
        margin: 0em 0em;         
       }   
       .col {
       float:none;
       margin:0;
      }      
      .box{
       width: 21rem;               
       display:block;margin:0 auto;        
      }        
       
    }

   @media screen and (max-width: 320px){
      .span3 { width: 100%;}
      .section {          
        padding: 0em 0em;
        margin: 0em 0em;         
       } 
       .col {
       float:none;
       margin:0;
      }           
      .box{
       width: 19rem;         
      }
    } 


  /* cyrillic */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v5/UqyVK80NJXN4zfRgbdfbo5pcV-UyZKAbcw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v5/UqyVK80NJXN4zfRgbdfbo5BcV-UyZKAbcw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v5/UqyVK80NJXN4zfRgbdfbo55cV-UyZKA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}